<div class="banner">
  <div class="container d-flex justify-content-around">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "mojito.jpg", alt: "alttext", height: 400  %>
        </div>
        <div class="carousel-item">
          <%= image_tag "mojito.jpg", alt: "alttext", height: 400  %>
        </div>
        <div class="carousel-item">
          <%= image_tag "mojito.jpg", alt: "alttext", height: 400  %>
        </div>
      </div>
    </div>
  </div>
  <h1>Mr. Cocktail: Your online mixologist</h1>
</div>

<div class="container d-flex justify-content-between">
  <% @cocktails.each do |cocktail| %>
    <div class="card-index col-3" >
      <div class="card-index-image d-flex" style="background-image: url(<%= image_path 'mojito.jpg' %>)">
        <h2><%= cocktail.name %></h2>
      </div>
      <div class="d-flex justify-content-between">
        <p><%= cocktail.description %></p>
        <p>3/5</p>
      </div>
    </div>
  <% end %>
</div>

<%= cl_image_tag("grmmri29xxqqq0wmp9cv",
      width: 400, height: 300, crop: :fill) %>

  # <%= link_to "Add a Cocktail", new_cocktail_path %>

<img src="" alt="">
