<h1><%= @cocktail.name %></h1>
<p><%= @cocktail.description %></p>
<% @cocktail.doses.each do |dose| %>
  <%= dose.ingredient.name %> <%= dose.description %>
  <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, cocktail_dose_path(@cocktail, dose), method: :delete %>
<% end %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>
